img {
    border-radius: 60px;
}

.jumbotron {
    background-image: url(./blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(33, 33, 33);
    box-shadow: 5px 5px 5px rgb(33, 33, 33);
}

button, .form-control, img {
    box-shadow: 5px 5px 5px rgb(33, 33, 33);
}

th {
    padding-left: 15px;
}

td {
    padding-left: 15px;
}

img {
   margin-left: -15px;
}




