body {
    background-color: lightyellow;
}

img {
    border-radius: 60px;
}

.jumbotron {
    background-image: url(./title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    color: #fff;
    box-shadow: 9px 9px 9px rgb(150, 150, 150);
}

button, .form-control, img {
    box-shadow: 6px 6px 6px rgb(150, 150, 150);
}

th {
    padding-left: 15px;
}

td {
    padding-left: 15px;
}

img {
   margin-left: -15px;
}

.container {
    justify-content: center;
}

